/* Toàn bộ nền tối */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #fff;
}

/* Header menu */
header {
  background-color: #d62828; /* đỏ Garena */
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffe066; 
}

/* Container chung */
.container {
  padding: 30px;
}
